.course-about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
}

.course-about-block {
    width: 80%;
    height: 750px;
    /* border: 1px solid blue; */
}

.img-cont {
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
}

.img-cont img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.btn-course {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    /* border: 1px solid red; */
}

.btn-course button {
    width: 150px;
    height: 45px;
    background-color: #3B82F6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #020817;
    cursor: pointer;
}

.course-about-title {
    padding-top: 15px;
    width: 100%;
    height: 300px;
    /* border: 1px solid red; */
}

.course-about-title h1 {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.course-about-title p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Mobile Style */
@media screen and (width < 420px) {
    .course-about-block {
        margin-top: -30px;
        width: 100%;
        height: 83.8vh;
        padding: 15px;
        /* border: 1px solid red; */
    }

    .img-cont {
        height: 200px;
    }

    .img-cont img {
        height: 200px;
    }

    .btn-course {
        height: 65px;
    }

    .btn-course button {
        width: 140px;
        font-size: 15px;
    }

    .course-about-title h1 {
        font-size: 20px;
    }

    .course-about-title p {
        font-size: 14px;
    }
}